.wheel {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 350px;
    animation: spin 10s linear infinite;
  }
}

// animation
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}